.main {
    display: grid;
    justify-content: center;
    margin: 30px;
    justify-items: center;
    border-right: 1px solid black;
    border-left: 1px solid black;
    background-color: #aef7ff;
}

.no_style {
    text-decoration: inherit;
    color: inherit;
}

#game_screen {
    width: 125%;
}

.horizontal_spacing {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header,
h1,
h2,
.center_text {
    text-align: center;
}

h2 {
    font-size: 2.2rem;
}

h3 {
    font-size: 1.8rem;
}

option,
select,
.capitalize {
    text-transform: capitalize;
}

.divider {
    flex-grow: 1;
    border-bottom: 1px solid black;
    margin: 5px
}

.bordered_section {
    border: 1px solid black;
    margin: .3rem;
    padding: .3rem;
}

.bold {
    font-weight: bold;
}

footer {
    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 100%;
    text-align: right;
}

table {
    /* width: 100%; */
    table-layout: auto;
    border-spacing: .5em;
    border-collapse: separate;
}

td {
    padding: .5em;
    text-align: center;
    width: auto
}

tr {
    width: auto
}

.fill_blue {
    background-color: blue;
    color: white;
}

.fill_black {
    background-color: black;
    color: white;
}

.fill_red {
    background-color: red;
    color: white;
}

.wide_green {
    background-color: green;
    color: white;
    width: 100%;
    padding: 1em;
    margin-bottom: 1em;
}

* {
    font-size: 110%;
}